@model List<Model.EF.Menu>
<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            if (item.DisplayOrder == 1)
            {
                <li class="active"><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }
            else {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li> 
            }
        }
        <div class="clear"></div>
    </ul>
</div>
